footer
    width: $footer-width
    height: $footer-height
    background: $common-background-color
    position: fixed
    bottom: 0px
    text-align: center
    font-size: 1.5em
    border-top: 1px solid #e5e5e5
    opacity: 0.9

    a, a:focus, a:active
        outline: none
        text-decoration: none

    .icon-set
        height: $footer-height
        line-height: $footer-height
        color: $common-font-color
