header
    background: $common-background-color
    color: $common-font-color
    height: $header-height
    border-bottom: 1px solid #e5e5e5
    z-index: 2

    .container
        position: relative

        .square
            height: $header-height
            width: $header-height
            font-size: 1.3em

        .hamburger-wrap, .search-wrap
            text-align: center
            line-height: $header-height
            position: absolute

        .hamburger-wrap
            left: 10px

        .search-wrap
            right: 10px

    .search-bar
        width: 100%
        height: $header-height
        line-height: 24px
        outline: none

        font-family: $common-font
        font-size: 1.15em

        top: -1px
        margin: 0
        padding: 10px 53px

        background: none

        border: 0
        border-bottom-style: solid
        border-bottom-width: 1px
        border-bottom-color: white

        transition: background .5s ease-in-out
        transition: border-bottom-color .4s ease-in-out

        &:focus
            background: white
            border-bottom-color: #e5e5e5

